* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #6837ef;
  --secondary-color: #25bb87;
  --border-color: #ecebf5;
  --bold-text-color: #060213;
  --normal-text-color: #696d8c;
}
html {
  font-family: "Gelion";
}
body {
  color: var(--normal-text-color);
  font-size: 18px;
  font-weight: 400;
  background-color: #fff;
}
#root {
  height: 100vh;
  width: 100vw;
  display: flex;
}

/*-------------------------- NAVIGATION --------------------------------*/

.primary-nav {
  width: 100%;
  max-width: 262px;
  height: 100%;
  border-right: 1px solid var(--border-color);
  padding: 22px;
}
nav header {
  border: 1px solid var(--border-color);
  border-radius: 8px;
}
nav header p {
  color: var(--normal-text-color);
}

/*-------------------------- NAVIGATION COLLAPSE --------------------------------*/

.collapse-button span {
  color: var(--normal-text-color);
}
.collapse-button svg {
  margin-top: -3px;
  margin-right: 16px;
}
.collapse-button path {
  fill: var(--normal-text-color);
}
.collapse-button i {
  color: var(--normal-text-color);
  transition: transform 0.35s ease;
  transform-origin: 0.5em 50%;
}
.collapse ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--normal-text-color);
}
.collapse .active {
  color: var(--bold-text-color);
}
/* change text and icon color when collapse is open */
[aria-expanded="true"] span {
  color: var(--primary-color);
}
[aria-expanded="true"] path {
  fill: var(--primary-color);
}

/*-------------------------- MAIN DISPLAY --------------------------------*/

.display {
  width: 100%;
}

main {
  padding: 0 24px;
}

.secondary-nav {
  padding: 0 24px;
}
.secondary-nav a {
  padding: 16px 16px 16px 0;
}
a:hover {
  color: var(--bold-text-color);
}
.page-header {
  padding: 36px 24px;
}
.filter-form {
  display: flex;
  gap: 24px;
}
.filter-form > * {
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 10px 16px;
}
.filter-form input[type="submit"] {
  background-color: var(--secondary-color);
  color: #fff;
}
.filter-form select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("./icons/arrow.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 16px) center;
  padding-right: 48px;
}
/*--------------------------------- CHART CONTAINER --------------------------------*/
.chart-section {
  width: 100%;
  display: flex;
  border-radius: 10px;
}
.chart-container {
  border-right: 1px solid var(--border-color);
  padding: 24px;
  flex-grow: 1;
}
.chart-aside {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
  padding: 24px;
}
.chart-aside > div {
  width: 220px;
}

.percentage-green {
  background-color: rgba(37, 187, 135, 0.1);
  color: var(--secondary-color);
}
canvas {
  max-height: 230px;
}
.bold {
  color: var(--bold-text-color);
  font-weight: 500;
}
